#lengkung {
	-moz-box-shadow: 0 0 15px #999;
	-webkit-box-shadow: 0 0 15px #999;
	-o-box-shadow: 0 0 15px #999;
	box-shadow: 0 0 15px #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 10px;
}

#konten {
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 10px;
	padding-left:20px;
	padding-bottom:10px;
	padding-top:5px;
	margin-left: 10px;
	margin-right : 10px;
	margin-bottom: 5px
	
}

#tabelhead {
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 10px;
	padding:10px;
	font-size: 25px;
	margin-left: 10px;
	margin-right : 10px;
	margin-bottom: 5px

	
}

#judul{
	font-size: 25px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 10px;
}

#formmasuk{
	text-align:left;
	margin-left: 70px;
}

.header{
	
	text-align: left;
	width:70%;
	font-size: 25px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 10px;
}

input {
	background-color: #fff;
        color: #000;
 -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 8px 10px 7px 10px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #E6E6B8;
  border-radius:3px;
}


input.button {
	background: #FFF
    font-size: 12px;
    cursor: pointer;
    opacity: 1;
	padding: 9px 10px 7px 10px;
	margin: 0px 0px 0px 0px;
	border: 2px solid #E6E6B8;
}

ul {
  list-style:none; 
  position:relative;
}
a {
  text-decoration:none; 
  color: #000; 
  font-weight:bold; 
}
li {
  display:inline; 
  padding: 10px;
  border-right: 1px solid #000;
  float:left; 
}
li:last-child {
border-right:none;
}
li:hover {
	background-color:#CCC
}

li ul li {
  clear: both;
  border-right:none;
}
ul ul {
  padding-left:0px; 
  padding-top: 5px; 
  display:none; 
}
ul li:hover > ul {
  display:block;
}

